/* ALL */

@font-face
{
	font-family: 'HelveticaNeueRegular';
	src: url('../fonts/HelveticaNeue.eot');
	src: local('Helvetica Neue Bold'), local('HelveticaNeue'), url('../fonts/HelveticaNeue.woff') format('woff'), url('../fonts/HelveticaNeue.ttf') format('truetype');
}

@font-face
{
	font-family: 'HelveticaNeueCondensedBold';
	src: url('../fonts/HelveticaNeue-CondensedBold.eot');
	src: local('HelveticaNeue-CondensedBold'), local('HelveticaNeue-CondensedBold'), url('../fonts/HelveticaNeue-CondensedBold.woff') format('woff'), url('../fonts/HelveticaNeue-CondensedBold.ttf') format('truetype');
}

body
{
	margin: 24px 8px 8px 8px;
	background-color: #36ACF7;
	background-image: url('../img/bg_generic_blue.jpg');
	background-attachment: fixed;
	background-repeat: none;
	background-position: left top;
	
	font-family: 'HelveticaNeueRegular';
}

/* NAVIGATION */
div#nav h1
{
	margin: 0px 24px -20px 0;
	font-size: 92px;
}
div#nav
{
	text-align: right;
	font-size: 24px;
	color: #FFFFFF;
}
div#nav #elements
{
	margin-right: 20px;
}
div#nav li
{
	list-style: none;
	float: right;
	margin: 0 24px 0 24px;
	font-family: 'HelveticaNeueCondensedBold';
	-webkit-transition: All 0.3034s ease;
	-moz-transition: All 0.3034s ease;
	-o-transition: All 0.3034s ease;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
}
div#nav li:hover
{
	color: #FFFFFF;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	background: #000000;
	background: -webkit-gradient(linear, 80% 20%, 80% 100%, from(#000000), to(#555555));
	padding: 6px 12px 6px 12px;
	-webkit-transform: scale(1.325);
	-moz-transform: scale(1.325);
	-o-transform: scale(1.325);
}
div#nav a
{
	text-decoration: none;
	color: #FFFFFF;
}
div#nav a:visited
{
	text-decoration: none;
	color: #FFFFFF;
}
div#nav a:hover
{
	text-decoration: none;
	color: #FFFFFF;
}

/* CONTENT ALL */
div#triangle
{
	float: right;
	clear: right;
	text-align: right;
	padding: 0;
	margin: 10px 54px 0 0;
	-webkit-transition: All 0.3034s ease;
	-moz-transition: All 0.3034s ease;
	-o-transition: All 0.3034s ease;
}
.content_bubble
{
	float: right;
	clear: right;
	width: 700px;
	margin: 0px 28px 24px 0;
	padding: 32px 24px 21px 24px;
	border: none;
	opacity: 0.9;
	font-family: 'HelveticaNeueRegular';
	
	filter: alpha(opacity=90);
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	background: #fff;
	
	text-align: left;
}
.content_bubble h3
{
	font-weight: bold;
	font-size: 36px;
	margin: 2px 0 -10px 0;
}
.content_bubble a
{
	color: #444;
	text-decoration: none;
	font-family: 'HelveticaNeueRegular';
	font-weight: normal;
}
.content_bubble a:hover
{
	color: #444;
	text-decoration: underline;
}

/* CONTENT DISPLAY */
div#about
{
	display: inline;
}
div#photos
{
	display: inline;
}
div#videos
{
	display: none;
}
div#twitter
{
	display: none;
}

/* CONTENT PHOTOS */
.galleria-thumbnails
{
	overflow:hidden;
}
.galleria-thumbnails .galleria-image
{
	width: 120px;
	height: 90px;
	float: left;
	cursor: pointer;
	margin: 8px;
	-moz-box-shadow: 0px 0px 7px #888;
	-webkit-box-shadow: 0px 0px 7px #888;
	box-shadow: 0px 0px 7px #888;
	-webkit-transition: All 0.3034s ease;
	-moz-transition: All 0.3034s ease;
	-o-transition: All 0.3034s ease;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
}
.galleria-thumbnails:hover .galleria-image:hover
{
	-webkit-transform: scale(1.15);
	-moz-transform: scale(1.15);
	-o-transform: scale(1.15);
}
div#flickr_photos img
{
	margin: 8px;
	-moz-box-shadow: 0px 0px 7px #888;
	-webkit-box-shadow: 0px 0px 7px #888;
	box-shadow: 0px 0px 7px #888;
	-webkit-transition: All 0.3034s ease;
	-moz-transition: All 0.3034s ease;
	-o-transition: All 0.3034s ease;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
}
div#flickr_photos img:hover
{
	-webkit-transform: scale(1.15);
	-moz-transform: scale(1.15);
	-o-transform: scale(1.15);
}

/* CONTENT VIDEOS */
div#vimeo_videos img
{
	margin: 8px;
	-moz-box-shadow: 0px 0px 7px #888;
	-webkit-box-shadow: 0px 0px 7px #888;
	box-shadow: 0px 0px 7px #888;
	-webkit-transition: All 0.3034s ease;
	-moz-transition: All 0.3034s ease;
	-o-transition: All 0.3034s ease;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
}
div#vimeo_videos img:hover
{
	-webkit-transform: scale(1.25);
	-moz-transform: scale(1.25);
	-o-transform: scale(1.25);
}
div#youtube_videos img
{
	margin: 8px 12px 8px 8px;
	-moz-box-shadow: 0px 0px 7px #888;
	-webkit-box-shadow: 0px 0px 7px #888;
	box-shadow: 0px 0px 7px #888;
	-webkit-transition: All 0.3034s ease;
	-moz-transition: All 0.3034s ease;
	-o-transition: All 0.3034s ease;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
}
div#youtube_videos img:hover
{
	-webkit-transform: scale(1.25);
	-moz-transform: scale(1.25);
	-o-transform: scale(1.25);
}

/* CONTENT TWITTER */
div#twitter_feed
{
	
}
div#twitter_feed hr
{
	height: 1px;
	border: 0;
	background-color: #DDD;
	clear: both;
}
.tweet
{
	-webkit-transition: All 0.3034s ease;
	-moz-transition: All 0.3034s ease;
	-o-transition: All 0.3034s ease;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
}
.tweet:hover
{
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	background: #FFF;
	height: 50px;
	padding: 8px;
	-moz-box-shadow: 0px 0px 7px #888;
	-webkit-box-shadow: 0px 0px 7px #888;
	box-shadow: 0px 0px 7px #888;
	-webkit-transform: scale(1.25);
	-moz-transform: scale(1.25);
	-o-transform: scale(1.25);
}

/*** FOOTER ***/
div#footer
{
	float: right;
	clear: both;
	margin: 48px 48px 0 0;
	margin-bottom: 50px;
	padding: 16px;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	background: #000000;
	background: -webkit-gradient(linear, 80% 20%, 80% 100%, from(#000000), to(#555555));
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
}
div#footer a
{
	color: #C5E8FF;
	text-decoration: none;
}
div#footer a:hover
{
	text-decoration: underline;
}
